.skills {
  margin-top: -14rem;
}

.skills-content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #D3D3D3;
  border: 1px solid #D3D3D3;
}

.col-3, .info-content {
  padding: 50px 30px;
}

.col-3:not(:last-child) {
  border-radius: 0 6px 0 0;
  border-bottom: 1px solid #D3D3D3;
}

.icon-container {
  margin-bottom: 2rem;
  text-align: center;
}

.skills-icon {
  font-size: 3rem;
  margin: 0 auto;
  color: $gold;
}

.list-title {
  font-weight: 800;
}
